* {
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 400px;
    width: 300px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #E4EDDB;
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
}

header,
footer,
nav,
main {
    width: 100%;
    background-color: #307672;
    padding: 20px;
    border-radius: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8px;


}

aside {
    width: 35%;
    height: 600px;
    background-color: #144D53;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 15px;
    line-height: 2.0;

}

article {
    width: 60%;
    background-color: #144D53;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 24px;


}

.historia {
    width: 60%;
}



figure {
    width: 30%;
}

section {
    background-color: #E4EDDB;
    width: 100%;
    padding: 20px;
    border-radius: 30px;

}

address {
    background-color:#E4EDDB;
    padding: 20px;
    border-radius: 30px;
}

@media (min-width:1600px) {
    body {
        background-color: #E4EDDB;
        padding: 40px 50px;
        font-size: 20px;
        gap: 10px;
    }


    @media (max-width:600px) {
        body {
            background-color: #E4EDDB;
            padding: 10px 20px;
            font-size: 20px;
            gap: 8px;

        }

        img {
            height: 300px;
            width: 200px;
        }


    }

    @media (min-width:600px) and (max-width:1600px) {
        body {
            background-color: #E4EDDB;
            padding: 20px 40px;
            font-size: 18px;
            gap: 8px;

        }

        img {
            height: 350px;
            width: 250px;
        }


    }

    nav {
        background-color: #857474;
        display: flex;
        justify-content: space-around;
        width: 30%;
        padding: 7px;


    }

    a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }

    ul {
        color: #1A3C40;
    }

    mark {
        background-color: #857474;
        color: white;

    }

    h3 {
        background-color: #E4EDDB;
        color: #144D53;
        border-radius: 15px;
    }

    section p {
        color: #1A3C40;
    }

    section h1 {
        color: #857474;
    }

    form {
        background-color: #144D53;
        gap: 10px;
    }

    input {
        background-color: #E4EDDB;
    }

    .insta {
        height: 48px;
        width: 48px;
    }

    .linke {
        height: 48px;
        width: 48px;
    }

    .enve {
        height: 48px;
        width: 48px;

    }

    blockquote {
        color: #307672;
        border-left: 10px solid #307672;
        height: 50px;
        padding-left: 10px;
        margin-bottom: auto;
        line-height: 2.0;
        font-size: 19px;
    }
    h2{
        color: #1A3C40;
    }